@import 'bootstrap/dist/css/bootstrap.min.css';

.accordion-item {
    background-color: #fcfcc3;
    
}
.accordion-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 20%;
    background-color: #b3b3fd;
}

.btn-group {
    display: flex;
    flex-direction: row;
    flex: 1 1 1;
    width: 300px;
    height: 50px;
}

.btn-group > button {
    font-size: 1.3em;
    height: 100%;
}

.btn-group > button:first-child, 
.btn-group > button:last-child {
    border-radius: 20px 5px 20px 5px;
}

.accordion-button::after {
    display: none;
}

@media screen and (max-width : 440px) {
    .accordion-button {
        flex-direction: column;
    }
}